* {
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.carouselFont {
  font-family: "Comfortaa";
  text-shadow: 1px 1px 1px lightgray;
}

body {
  background-image: url("../images/nightsky.png");

}

#greeting {
    font-size: 44px;
}

#currentDate {
    font-size: 32px;
}

#currentTime {
    font-size: 24px;
}
section {
  z-index: 2;
}
